/*
  -=-=-= Account =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.account-root {
  margin: 0 auto 2rem; padding: 0.5rem;

  max-width: 621px; width: calc(100% - 2rem);

  background-color: var(--bg); color: var(--fg);

  border: 0.2rem solid var(--green);
  outline: 0.5rem solid var(--bg);

  border-radius: var(--rad);
  box-shadow: var(--shadow);
}
