/*
  -=-=-= FOOTER =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
footer {
  margin: 0; padding: 0.5rem;

  width: calc(100vh - 2rem));

  background-color: var(--bg-3); color: var(--fg);

  border: 0.2rem solid var(--green);
  /*outline: 0.5rem solid var(--bg);*/

  border-radius: var(--rad);
  box-shadow: var(--shadow);
}

footer a {
  margin: 0.5rem;
}
