/*
  -=-=-= FOOTER =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
footer {
  margin: 0; padding: 0.5rem;

  width: calc(100vh - 2rem));

  background-color: var(--bg); color: var(--fg);
  backdrop-filter: blur(8px);

  border: 0.2rem solid var(--green);
  outline: 0.5rem solid var(--bg);

  border-radius: var(--rad);
  box-shadow: var(--shadow);
}

.footer-child {
  min-width: 200px;
}
