/*
 |-------------------------------------------------------------
 | Sass stylesheet
 |-------------------------------------------------------------
 | This is all written by me! Fluffy! This is intended to be
 | compiled before use, I want to make this autocompile for
 | ease of use, but you may suffer along with me for now :3
 |-------------------------------------------------------------
*/
:root {
  --bg: #151515bb;
  --bg-1: #242621;
  --bg-2: #1D1E1C;
  --bg-3: #151515;
  --fg: #E8E3E3;
  --fg-dark: #151515;
  --red: #B66467;
  --orange: #FF7700;
  --green: #8C977D;
  --black: #151515;
  --white: #E8E3E3;
}

/*
 |-------------------------------------------------------------
 | NAVIGATION BAR
 |-------------------------------------------------------------
*/
nav {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 1rem;
  width: calc(100% - 1.4rem);
  height: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 1rem;
  align-items: center;
  vertical-align: middle;
}
nav > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
nav p {
  margin: 0;
  vertical-align: middle;
}
nav hr {
  margin: 0.5rem 0.2rem;
  padding: 0;
  opacity: 0;
}
nav .btn {
  width: auto;
}

.nav-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 22px;
  display: block;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Secular One", sans-serif;
  width: auto;
}

@media (max-width: 800px) {
  .nav-name {
    display: none;
  }
  .nav-links {
    width: 100%;
  }
}
@media (max-width: 550px) {
  nav {
    margin: 0;
    width: calc(100% - 1rem);
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(21, 21, 21, 0.7333333333);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    border: none;
    border-top: 3px solid #8C977D;
    border-radius: 0;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
  }
  nav .svg {
    margin: 0;
    display: block;
  }
  .nav-hide {
    display: none;
  }
  .info-text {
    text-align: left !important;
  }
  footer {
    margin-bottom: 4rem !important;
  }
  #back-to-top {
    bottom: 5rem !important;
  }
}
/*
 |-------------------------------------------------------------
 | INDEX
 |-------------------------------------------------------------
*/
.info-text {
  margin: 1rem 0 1rem 0.5rem;
  padding: 0;
  text-align: center;
}
.info-text h1,
.info-text h2,
.info-text h3,
.info-text h4,
.info-text h5 {
  font-family: "Lexend Deca", sans-serif;
}
.info-text p,
.info-text a,
.info-text button,
.info-text input {
  font-family: "Secular One", sans-serif;
}
.info-text h1 {
  font-family: "Lexend Deca", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}
.info-text p {
  font-family: "Secular One", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

.gallery-root {
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: #151515;
  color: #E8E3E3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.2rem solid #8C977D;
  border-radius: 0rem;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}

.gallery-item {
  margin: 0.25rem;
  padding: 0;
  height: auto;
  max-width: calc(33.33% - 0.5rem);
  background-color: #151515;
  border-radius: -0.5rem;
  position: relative;
  overflow: hidden;
  flex: 1 0 150px;
  transition: transform 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.gallery-item:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
  z-index: 9;
}
.gallery-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.gallery-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: -0.5rem;
}

.nsfw-blur {
  filter: blur(10px);
}

/*
 |-------------------------------------------------------------
 | IMAGE
 |-------------------------------------------------------------
*/
.image-container {
  margin: 1rem 0 2rem 0;
  padding: 0;
  width: 100%;
  max-height: 69vh;
  height: auto;
  display: flex;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 0rem;
  transition: max-height 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 600px) {
  .image-container {
    max-height: 42vh;
  }
}
.image {
  margin: 0 auto;
  max-width: 100%;
  width: auto;
  max-height: inherit;
  height: auto;
  border-radius: 0rem;
}

.image-description {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.image-description > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.image-description h1,
.image-description h2,
.image-description h3,
.image-description h4,
.image-description h5 {
  font-family: "Lexend Deca", sans-serif;
}
.image-description p,
.image-description a,
.image-description button,
.image-description input {
  font-family: "Secular One", sans-serif;
}

.image-detail {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.image-detail > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.image-detail h1,
.image-detail h2,
.image-detail h3,
.image-detail h4,
.image-detail h5 {
  font-family: "Lexend Deca", sans-serif;
}
.image-detail p,
.image-detail a,
.image-detail button,
.image-detail input {
  font-family: "Secular One", sans-serif;
}

.tags-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.tags-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.tags-root h1,
.tags-root h2,
.tags-root h3,
.tags-root h4,
.tags-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.tags-root p,
.tags-root a,
.tags-root button,
.tags-root input {
  font-family: "Secular One", sans-serif;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: auto;
  margin-bottom: 0;
}

.tag {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  display: block;
  background-color: #8C977D;
  border-radius: 0rem;
  font-family: "Secular One", sans-serif;
}
.tag::before {
  content: "# ";
}

.danger-zone {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #B66467;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.danger-zone > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.danger-zone h1,
.danger-zone h2,
.danger-zone h3,
.danger-zone h4,
.danger-zone h5 {
  font-family: "Lexend Deca", sans-serif;
}
.danger-zone p,
.danger-zone a,
.danger-zone button,
.danger-zone input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | ABOUT
 |-------------------------------------------------------------
*/
.about-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.about-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.about-root h1,
.about-root h2,
.about-root h3,
.about-root h4,
.about-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.about-root p,
.about-root a,
.about-root button,
.about-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | UPLOAD
 |-------------------------------------------------------------
*/
.upload-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.upload-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.upload-root h1,
.upload-root h2,
.upload-root h3,
.upload-root h4,
.upload-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.upload-root p,
.upload-root a,
.upload-root button,
.upload-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | ACCOUNT
 |-------------------------------------------------------------
*/
.account-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.account-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.account-root h1,
.account-root h2,
.account-root h3,
.account-root h4,
.account-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.account-root p,
.account-root a,
.account-root button,
.account-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | SIGNUP
 |-------------------------------------------------------------
*/
.signup-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.signup-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.signup-root h1,
.signup-root h2,
.signup-root h3,
.signup-root h4,
.signup-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.signup-root p,
.signup-root a,
.signup-root button,
.signup-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | LOGIN
 |-------------------------------------------------------------
*/
.login-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.login-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.login-root h1,
.login-root h2,
.login-root h3,
.login-root h4,
.login-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.login-root p,
.login-root a,
.login-root button,
.login-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | PASSWORD RESET
 |-------------------------------------------------------------
*/
.password-reset-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #B66467;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.password-reset-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.password-reset-root h1,
.password-reset-root h2,
.password-reset-root h3,
.password-reset-root h4,
.password-reset-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.password-reset-root p,
.password-reset-root a,
.password-reset-root button,
.password-reset-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | SEARCH
 |-------------------------------------------------------------
*/
.search-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
}
.search-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.search-root h1,
.search-root h2,
.search-root h3,
.search-root h4,
.search-root h5 {
  font-family: "Lexend Deca", sans-serif;
}
.search-root p,
.search-root a,
.search-root button,
.search-root input {
  font-family: "Secular One", sans-serif;
}

/*
 |-------------------------------------------------------------
 | FOOTER
 |-------------------------------------------------------------
*/
footer {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  bottom: 0;
  width: calc(100% - 1.4rem);
}
footer > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
footer a {
  margin: 0.5rem;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
footer a:hover {
  color: #FF7700;
}

/*
 |-------------------------------------------------------------
 | BODY COMPONENTS
 |-------------------------------------------------------------
*/
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background-color: #151515;
  background-image: url("../assets/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
body * {
  color: #E8E3E3;
}

/*
 |-------------------------------------------------------------
 | BUTTONS
 |-------------------------------------------------------------
*/
.btn {
  padding: 0.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  border: none;
  border-radius: calc(0rem - (0.5rem + 3px));
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
}
.btn:where(input[type=file])::-webkit-file-upload-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: 0rem;
}
.btn:where(input[type=file])::file-selector-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: 0rem;
}

a.btn {
  text-align: center;
}

.btn-good {
  background-color: #8C977D;
}

.btn-bad {
  background-color: #B66467;
}

.btn-neutral {
  background-color: #151515;
}

/*
 |-------------------------------------------------------------
 | FORM SIZING
 |-------------------------------------------------------------
*/
form {
  width: 100%;
  box-sizing: content-box;
}
form > * {
  margin-bottom: 0.5rem;
}

/*
 |-------------------------------------------------------------
 | SVG
 |-------------------------------------------------------------
*/
.svg {
  margin: 0 0.2rem 0.1rem 0;
  width: 19px;
  height: 18px;
  vertical-align: middle;
  display: inline;
}

/*
 |-------------------------------------------------------------
 | BR / BREAK
 |-------------------------------------------------------------
*/
br {
  margin: 0;
  line-height: 0.25rem;
}

/*
 |-------------------------------------------------------------
 | BACK TO TOP
 |-------------------------------------------------------------
*/
#back-to-top {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  z-index: 99;
  right: -2.5rem;
  bottom: 1rem;
  -o-object-position: center;
     object-position: center;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 50%;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.5333333333);
  transition: right 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
#back-to-top:hover {
  outline: 0.2rem solid #8C977D;
}
#back-to-top * {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=main.css.map */