/*
 |-------------------------------------------------------------
 | Sass stylesheet
 |-------------------------------------------------------------
 | This is all written by me! Fluffy! This is intended to be
 | compiled before use, I want to make this autocompile for
 | ease of use, but you may suffer along with me for now :3
 |-------------------------------------------------------------
*/
:root {
  --bg: rgba(21, 21, 21, 0.7333333333);
  --bg-1: #242621;
  --bg-2: #1D1E1C;
  --bg-3: #151515;
  --fg: #E8E3E3;
  --fg-dark: #151515;
  --red: #B66467;
  --orange: #FF7700;
  --green: #8C977D;
  --black: #121212;
  --white: #E8E3E3;
  --accent: #8C977D;
  --shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  --rad: 0.4rem;
}

/*
 |-------------------------------------------------------------
 | NAVIGATION BAR
 |-------------------------------------------------------------
*/
nav {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  width: calc(100% - 1.4rem);
  height: 2.5rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 1rem;
  align-items: center;
  vertical-align: middle;
}
nav > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
nav p {
  margin: 0;
  vertical-align: middle;
}
nav hr {
  margin: 0.5rem 0.2rem;
  padding: 0;
  opacity: 0;
}
nav .btn {
  width: auto;
}

.nav-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 22px;
  display: block;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Secular One", sans-serif;
  width: auto;
}

.nav-mobile {
  display: none;
}

@media (max-width: 800px) {
  .nav-name {
    display: none;
  }
  .nav-links {
    width: 100%;
  }
}
@media (max-width: 550px) {
  nav {
    margin: 0;
    width: calc(100% - 1rem);
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(21, 21, 21, 0.7333333333);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    border: none;
    border-top: 3px solid #8C977D;
    border-radius: 0;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
  }
  nav .svg {
    margin: 0;
    display: block;
  }
  .nav-hide {
    display: none;
  }
  .info-text {
    text-align: left !important;
  }
  footer {
    margin-bottom: 4rem !important;
  }
  #back-to-top {
    bottom: 5rem !important;
  }
  .nav-mobile {
    display: block;
  }
}
/*
 |-------------------------------------------------------------
 | INDEX
 |-------------------------------------------------------------
*/
.info-text {
  margin: 1rem 0 1rem 0.5rem;
  padding: 0;
  text-align: center;
}
.info-text h1,
.info-text h2,
.info-text h3,
.info-text h4,
.info-text h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.info-text p,
.info-text a,
.info-text button,
.info-text input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}
.info-text h1 {
  font-family: "Lexend Deca", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}
.info-text p {
  font-family: "Secular One", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

.gallery-order {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.gallery-order h1,
.gallery-order h2,
.gallery-order h3,
.gallery-order h4,
.gallery-order h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.gallery-order p,
.gallery-order a,
.gallery-order button,
.gallery-order input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}
.gallery-order > * {
  margin-right: 0.5rem;
}
.gallery-order > *:last-child {
  margin-right: 0;
}

.gallery-root {
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: #151515;
  color: #E8E3E3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.2rem solid #8C977D;
  border-radius: 0.4rem;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}

.gallery-item {
  margin: 0.25rem;
  padding: 0;
  height: auto;
  max-width: calc(20% - 0.5rem);
  min-width: calc(20% - 0.5rem);
  background-color: #151515;
  border-radius: -0.1rem;
  position: relative;
  overflow: hidden;
  flex: 1 0 150px;
  transition: transform 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.gallery-item:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  z-index: 9;
}
.gallery-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (max-width: 800px) {
  .gallery-item {
    max-width: calc(25% - 0.5rem);
    min-width: calc(25% - 0.5rem);
  }
}
@media (max-width: 550px) {
  .gallery-item {
    max-width: calc(33.33% - 0.5rem);
    min-width: calc(33.33% - 0.5rem);
  }
}
.gallery-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: -0.1rem;
}

.nsfw-blur {
  filter: blur(8px);
}

.nsfw-warning {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  background-color: rgba(21, 21, 21, 0.7333333333);
}
.nsfw-warning span {
  color: #B66467;
  text-align: center;
}
.nsfw-warning span::after {
  content: " Content";
}
.nsfw-warning img {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 500px) {
  .nsfw-warning span::after {
    content: none;
  }
}
/*
 |-------------------------------------------------------------
 | IMAGE
 |-------------------------------------------------------------
*/
.fullscreen-image {
  width: 101vw;
  height: 101vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 999;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: none;
  opacity: 0;
}
.fullscreen-image img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 0.4rem;
  z-index: 1;
}
.fullscreen-image button {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #121212;
  z-index: 2;
}
.fullscreen-image button img {
  width: 1.5rem;
  display: block;
}
.fullscreen-image button:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}

.image-container {
  margin: 1rem 0 2rem 0;
  padding: 0;
  width: 100%;
  max-height: 50vh;
  height: auto;
  min-height: 30vh;
  display: flex;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 0.4rem;
  transition: max-height 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 600px) {
  .image-container {
    max-height: 42vh;
  }
}
.image {
  margin: auto;
  max-width: 100%;
  width: auto;
  max-height: inherit;
  height: auto;
  border-radius: 0.4rem;
  transition: opacity 0.5s;
}

.preview-button {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 0.4rem;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(21, 21, 21, 0.7333333333);
  z-index: 2;
}
.preview-button img {
  width: 1.5rem;
  display: block;
}
.preview-button:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}

.image-description {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.image-description > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.image-description h1,
.image-description h2,
.image-description h3,
.image-description h4,
.image-description h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.image-description p,
.image-description a,
.image-description button,
.image-description input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.image-detail {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.image-detail > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.image-detail h1,
.image-detail h2,
.image-detail h3,
.image-detail h4,
.image-detail h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.image-detail p,
.image-detail a,
.image-detail button,
.image-detail input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}
.image-detail > div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.image-detail > div > div {
  width: 50%;
}
.image-detail > div > div * {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 669px) {
  .image-detail > div {
    flex-direction: column;
  }
  .image-detail > div > div {
    width: auto;
  }
}
.tags-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.tags-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.tags-root h1,
.tags-root h2,
.tags-root h3,
.tags-root h4,
.tags-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.tags-root p,
.tags-root a,
.tags-root button,
.tags-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: auto;
  margin-bottom: 0;
}

.tag {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  display: block;
  background-color: #8C977D;
  border-radius: -0.3rem;
  font-family: "Secular One", sans-serif;
}
.tag::before {
  content: "# ";
}

.danger-zone {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #B66467;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.danger-zone > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.danger-zone h1,
.danger-zone h2,
.danger-zone h3,
.danger-zone h4,
.danger-zone h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.danger-zone p,
.danger-zone a,
.danger-zone button,
.danger-zone input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

/*
 |-------------------------------------------------------------
 | profile
 |-------------------------------------------------------------
*/
.profile-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  margin: 3rem auto 1rem auto;
  min-height: 7rem;
  position: relative;
  text-align: center;
}
.profile-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.profile-root h1,
.profile-root h2,
.profile-root h3,
.profile-root h4,
.profile-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.profile-root p,
.profile-root a,
.profile-root button,
.profile-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}
.profile-root img {
  width: 9rem;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 6rem;
  top: -3rem;
  transform: translateX(-50%);
  border-radius: 0.4rem;
  border: #8C977D 0.2rem solid;
  background-color: #151515;
}
.profile-root h2, .profile-root > p {
  margin: 0 0 0.5rem 0;
  padding-left: 11rem;
}

.profile-info {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 11rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-info > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 669px) {
  .profile-root img {
    position: absolute;
    left: 50%;
    top: -3rem;
    transform: translateX(-50%);
  }
  .profile-root h2 {
    margin: 7rem 0 0.5rem 0;
    padding: 0;
  }
  .profile-root > p {
    padding: 0;
  }
  .profile-info {
    padding: 0;
  }
  .profile-info > * {
    padding: 0;
  }
}
/*
 |-------------------------------------------------------------
 | UPLOAD
 |-------------------------------------------------------------
*/
.upload-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.upload-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.upload-root h1,
.upload-root h2,
.upload-root h3,
.upload-root h4,
.upload-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.upload-root p,
.upload-root a,
.upload-root button,
.upload-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}
.upload-root > img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 15rem;
  border-radius: -0.3rem;
  display: flex;
  flex-direction: column;
}

/*
 |-------------------------------------------------------------
 | ACCOUNT
 |-------------------------------------------------------------
*/
.profile-settings {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.profile-settings > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.profile-settings h1,
.profile-settings h2,
.profile-settings h3,
.profile-settings h4,
.profile-settings h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.profile-settings p,
.profile-settings a,
.profile-settings button,
.profile-settings input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.pfp-upload {
  display: flex;
  flex-direction: row;
}
.pfp-upload > img {
  margin-left: 0.5rem;
  width: 7.813rem;
  height: 7.813rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: -0.3rem;
  background-color: #121212;
}
.pfp-upload form > * {
  margin: 0 0 0.5rem 0;
}
.pfp-upload form > *:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 621px) {
  .pfp-upload {
    display: flex;
    flex-direction: column-reverse;
  }
  .pfp-upload > img {
    margin: 0 auto 1rem;
    width: 10rem;
    height: 10rem;
  }
}
.account-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #B66467;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.account-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.account-root h1,
.account-root h2,
.account-root h3,
.account-root h4,
.account-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.account-root p,
.account-root a,
.account-root button,
.account-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.admin-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.admin-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.admin-root h1,
.admin-root h2,
.admin-root h3,
.admin-root h4,
.admin-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.admin-root p,
.admin-root a,
.admin-root button,
.admin-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.tabs {
  display: flex;
  flex-direction: row;
}
.tabs > button {
  margin-right: 0.5rem;
  width: 33.33%;
}
.tabs > button:last-child {
  margin-right: 0;
}

.active-tab {
  background-color: #8C977D !important;
}

.logs {
  width: 100%;
  height: 21rem;
  padding: 0;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  background-color: #151515;
  border-radius: -0.3rem;
}

.log {
  min-width: 850px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.log > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.log > *:nth-child(1) {
  width: 5%;
}
.log > *:nth-child(2) {
  width: 17%;
}
.log > *:nth-child(3) {
  width: 38%;
}
.log > *:nth-child(4) {
  width: 40%;
  margin: 0;
}

.log:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bans {
  width: 100%;
  height: 21rem;
  padding: 0;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  background-color: #151515;
  border-radius: -0.3rem;
}

.ban {
  min-width: 900px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ban:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.ban > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.ban > *:nth-child(1) {
  width: 5%;
}
.ban > *:nth-child(2) {
  width: 17%;
}
.ban > *:nth-child(3) {
  width: 34%;
}
.ban > *:nth-child(4) {
  width: 10%;
}
.ban > *:nth-child(5) {
  width: 34%;
  margin: 0;
}

.perm {
  border-left: #B66467 0.2rem solid;
}

.ban:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.user-settings {
  width: 100%;
  height: 21rem;
  padding: 0;
  overflow-y: scroll;
  display: none;
  flex-direction: column;
  background-color: #151515;
  border-radius: -0.3rem;
}

.user {
  min-width: 950px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.user > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.user > *:nth-child(1) {
  width: 5%;
}
.user > *:nth-child(2) {
  width: 15%;
}
.user > *:nth-child(3) {
  width: 35%;
}
.user > *:nth-child(4) {
  width: 15%;
}
.user > *:nth-child(5) {
  width: 15%;
}
.user > *:nth-child(6) {
  width: 15%;
  margin: 0;
}

.is-admin {
  border-left: #8C977D 0.2rem solid;
}

.user:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.signup-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  display: none;
}
.signup-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.signup-root h1,
.signup-root h2,
.signup-root h3,
.signup-root h4,
.signup-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.signup-root p,
.signup-root a,
.signup-root button,
.signup-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

.login-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #8C977D;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.login-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.login-root h1,
.login-root h2,
.login-root h3,
.login-root h4,
.login-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.login-root p,
.login-root a,
.login-root button,
.login-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

/*
 |-------------------------------------------------------------
 | PASSWORD RESET
 |-------------------------------------------------------------
*/
.password-reset-root {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100% - 1.4rem);
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: 0.2rem solid #B66467;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}
.password-reset-root > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.password-reset-root h1,
.password-reset-root h2,
.password-reset-root h3,
.password-reset-root h4,
.password-reset-root h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.password-reset-root p,
.password-reset-root a,
.password-reset-root button,
.password-reset-root input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

/*
 |-------------------------------------------------------------
 | FOOTER
 |-------------------------------------------------------------
*/
footer {
  margin: 0 auto;
  width: auto;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}
footer p {
  margin: 0.2rem;
  padding: 0;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
footer a {
  margin: 0.2rem;
  padding: 0;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
footer a:hover {
  color: #FF7700;
}

/*
 |-------------------------------------------------------------
 | BODY COMPONENTS
 |-------------------------------------------------------------
*/
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background-color: #151515;
  background-image: url("../assets/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
body * {
  color: #E8E3E3;
}

/*
 |-------------------------------------------------------------
 | BUTTONS
 |-------------------------------------------------------------
*/
.btn {
  padding: 0.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  border: none;
  border-radius: -0.3rem;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}
.btn:where(input[type=file])::-webkit-file-upload-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: -0.3rem;
}
.btn:where(input[type=file])::file-selector-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: -0.3rem;
}

a.btn {
  text-align: center;
}

.btn-good {
  background-color: #8C977D;
}

.btn-bad {
  background-color: #B66467;
}

.btn-neutral {
  background-color: #121212;
}

/*
 |-------------------------------------------------------------
 | FORM SIZING
 |-------------------------------------------------------------
*/
form {
  width: 100%;
  box-sizing: content-box;
}
form > * {
  margin-bottom: 0.5rem;
}

textarea {
  resize: none;
}

/*
 |-------------------------------------------------------------
 | SVG
 |-------------------------------------------------------------
*/
.svg {
  margin: 0 0.2rem 0.1rem 0;
  width: 19px;
  height: 18px;
  vertical-align: middle;
  display: inline;
}

/*
 |-------------------------------------------------------------
 | BR / BREAK
 |-------------------------------------------------------------
*/
br {
  margin: 0;
  line-height: 0.25rem;
}

/*
 |-------------------------------------------------------------
 | Link text
 |-------------------------------------------------------------
*/
a.link {
  display: inline;
  text-decoration: underline;
}
a.link:hover {
  color: #8C977D;
}

/*
 |-------------------------------------------------------------
 | BACK TO TOP
 |-------------------------------------------------------------
*/
#back-to-top {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  z-index: 99;
  right: -2.5rem;
  bottom: 1rem;
  -o-object-position: center;
     object-position: center;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 50%;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  transition: right 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
#back-to-top:hover {
  outline: 0.2rem solid #8C977D;
}
#back-to-top * {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  -o-object-position: center;
     object-position: center;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}/*# sourceMappingURL=main.css.map */