/*
 |-------------------------------------------------------------
 | Sass stylesheet
 |-------------------------------------------------------------
 | This is all written by me! Fluffy! This is intended to be
 | compiled before use, I want to make this autocompile for
 | ease of use, but you may suffer along with me for now :3
 |-------------------------------------------------------------
*/
:root {
  --bg: rgba(21, 21, 21, 0.7333333333);
  --bg-1: #242621;
  --bg-2: #1D1E1C;
  --bg-3: #151515;
  --fg: #E8E3E3;
  --fg-dark: #151515;
  --red: #B66467;
  --orange: #D8A657;
  --yellow: #D9BC8C;
  --green: #8C977D;
  --blue: #8DA3B9;
  --purple: #A988B0;
  --black: #121212;
  --white: #E8E3E3;
  --accent: #8C977D;
  --warning: #B66467;
  --alert: #D8A657;
  --success: #8C977D;
  --neutral: #121212;
  --shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  --rad: 0.4rem;
  --border: #8C977D 0.2rem solid;
}

/*
 |-------------------------------------------------------------
 | NAVIGATION BAR
 |-------------------------------------------------------------
*/
nav {
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: #8C977D 0.2rem solid;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(69px) saturate(100%) brightness(100%);
          backdrop-filter: blur(69px) saturate(100%) brightness(100%);
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 1rem;
  align-items: center;
  vertical-align: middle;
}
nav p {
  margin: 0;
  vertical-align: middle;
}
nav hr {
  margin: 0.5rem 0.2rem;
  padding: 0;
  opacity: 0;
}
nav .btn {
  width: auto;
}

.nav-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 1.69rem;
}
.nav-name img {
  margin: 0 0.5rem 0 0;
  padding: 0;
  width: 1.69rem;
  height: 1.69rem;
  display: inline;
  border-radius: 3px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-family: "Secular One", sans-serif;
  width: auto;
}
.nav-links a.btn {
  padding: 0.2rem 0.5rem;
}

.nav-mobile {
  display: none;
}

@media (max-width: 800px) {
  .nav-name {
    display: none;
  }
  .nav-links {
    width: 100%;
  }
}
@media (max-width: 550px) {
  nav {
    margin: 0;
    padding-bottom: 1rem;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    border-top: #8C977D 0.2rem solid;
    border-radius: 0;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
  }
  nav .svg {
    margin: 0;
    display: block;
  }
  .nav-links a.btn {
    padding: 0.5rem;
  }
  .nav-hide {
    display: none;
  }
  .info-text {
    text-align: left !important;
  }
  footer {
    margin-bottom: 4rem !important;
  }
  #back-to-top {
    bottom: 5rem !important;
  }
  .nav-mobile {
    display: block;
  }
}
/*
 |-------------------------------------------------------------
 | DEFAULTS
 |-------------------------------------------------------------
*/
.defaultSpacing {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  box-sizing: border-box;
}
.defaultSpacing > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.defaultDecoration {
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: #8C977D 0.2rem solid;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}

.warningDecoration {
  background-color: #151515;
  color: #E8E3E3;
  border-radius: 0.4rem;
  border: #B66467 0.2rem solid;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
}

.defaultFonts h1,
.defaultFonts h2,
.defaultFonts h3,
.defaultFonts h4,
.defaultFonts h5 {
  font-family: "Lexend Deca", sans-serif;
  text-rendering: optimizeLegibility;
}
.defaultFonts p,
.defaultFonts a,
.defaultFonts button,
.defaultFonts input {
  font-family: "Secular One", sans-serif;
  text-rendering: optimizeLegibility;
}

/*
 |-------------------------------------------------------------
 | INDEX
 |-------------------------------------------------------------
*/
.info-text {
  margin: 1rem 0 1rem 0.5rem;
  padding: 0;
  text-align: center;
}
.info-text h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.info-text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.gallery-root {
  margin-bottom: 1rem;
  padding: 0.5rem;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.gallery-item {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #151515;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: transform 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.gallery-item:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  z-index: 9;
}
.gallery-item:active {
  transform: scale(0.9) !important;
}
.gallery-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media (max-width: 800px) {
  .gallery-root {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 550px) {
  .gallery-root {
    grid-template-columns: auto auto auto;
  }
}
.gallery-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 3px;
}

.nsfw-blur {
  filter: blur(15px);
}

.nsfw-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
  background-color: rgba(21, 21, 21, 0.7333333333);
}
.nsfw-warning span {
  color: #B66467;
  text-align: center;
}
.nsfw-warning span::after {
  content: " Content";
}
.nsfw-warning img {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 500px) {
  .nsfw-warning span::after {
    content: none;
  }
}
/*
 |-------------------------------------------------------------
 | IMAGE
 |-------------------------------------------------------------
*/
.fullscreen-image {
  width: 101vw;
  height: 101vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 999;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: none;
  opacity: 0;
}
.fullscreen-image img {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 0.4rem;
  z-index: 1;
}
.fullscreen-image button {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #121212;
  z-index: 2;
}
.fullscreen-image button img {
  width: 1.5rem;
  display: block;
}
.fullscreen-image button:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}

.image-container {
  margin: 1rem 0 2rem 0;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  max-height: 50vh;
  height: auto;
  min-height: 30vh;
  display: flex;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 0.4rem;
  transition: max-height 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 600px) {
  .image-container {
    max-height: 42vh;
  }
}
.image {
  margin: auto;
  max-width: 100%;
  width: auto;
  max-height: inherit;
  height: auto;
  border-radius: 3px;
  transition: opacity 0.5s;
}

.preview-button {
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(21, 21, 21, 0.7333333333);
  z-index: 2;
}
.preview-button img {
  width: 1.5rem;
  display: block;
}
.preview-button:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}

.image-detail > div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.image-detail > div > div {
  width: 50%;
}
.image-detail > div > div * {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 669px) {
  .image-detail > div {
    flex-direction: column;
  }
  .image-detail > div > div {
    width: auto;
  }
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: auto;
  margin-bottom: 0;
}

.tag {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  display: block;
  background-color: #8C977D;
  border-radius: 3px;
  font-family: "Secular One", sans-serif;
}
.tag::before {
  content: "# ";
}

/*
 |-------------------------------------------------------------
 | Groups
 |-------------------------------------------------------------
*/
.group-banner {
  position: relative;
}

.group-description {
  height: auto;
  width: auto;
  position: relative;
  z-index: 1;
}
.group-description h2 span {
  margin-left: 0.25rem;
  font-size: 16px;
}
.group-description h2 a {
  margin-left: 0.25rem;
  font-size: 16px;
  color: #8C977D;
  text-decoration: none;
}
.group-description > * {
  margin: 0 0 0.5rem 0;
}
.group-description a {
  text-decoration: none;
}
.group-description a:hover {
  color: #8C977D;
}
.group-description .btn:hover {
  color: #E8E3E3;
}

.group-cover {
  height: 100%;
  max-width: 50%;
  width: auto;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}
.group-cover span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, #151515, rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.2));
  z-index: 1;
  border-radius: 0.2rem;
}
.group-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  border-radius: 0.2rem;
}

.selectedImage {
  outline: #8C977D solid 0.3rem;
  transform: scale(0.8) !important;
}

.group-name {
  margin: 0;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 6;
  opacity: 0;
  font-size: 17px;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.gallery-group {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
}

.group-item .gallery-group {
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}
.group-item .nsfw-warning > * {
  display: none;
}
.group-item .group-name {
  opacity: 1;
}

.group-make {
  margin: 0;
  padding: 0;
  height: auto;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  flex: 1 0 150px;
  text-overflow: ellipsis;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.group-make:hover {
  outline: #E8E3E3 0.2rem solid;
}
.group-make:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.group-make button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #121212;
  border-radius: 3px;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 5;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
.group-make button:hover {
  color: #E8E3E3;
  cursor: pointer;
}
.group-make button span {
  max-width: 90%;
  text-align: center;
  text-overflow: ellipsis;
}
.group-make button img {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 550px) {
  .group-make > button > span {
    display: none;
  }
}
/*
 |-------------------------------------------------------------
 | profile
 |-------------------------------------------------------------
*/
.profile-root {
  margin: 3rem auto 1rem auto;
  min-height: 7rem;
  position: relative;
  text-align: center;
}
.profile-root img {
  width: 9rem;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 6rem;
  top: -3rem;
  transform: translateX(-50%);
  border-radius: 0.4rem;
  border: #8C977D 0.2rem solid;
  background-color: #151515;
}
.profile-root h2, .profile-root > p {
  margin: 0 0 0.5rem 0;
  padding-left: 11rem;
}

.profile-info {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-left: 11rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-info > * {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 669px) {
  .profile-root img {
    position: absolute;
    left: 50%;
    top: -3rem;
    transform: translateX(-50%);
  }
  .profile-root h2 {
    margin: 7rem 0 0.5rem 0;
    padding: 0;
  }
  .profile-root > p {
    padding: 0;
  }
  .profile-info {
    padding: 0;
  }
  .profile-info > * {
    padding: 0;
  }
}
/*
 |-------------------------------------------------------------
 | UPLOAD
 |-------------------------------------------------------------
*/
.upload-root > img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 15rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

/*
 |-------------------------------------------------------------
 | ACCOUNT
 |-------------------------------------------------------------
*/
.pfp-upload {
  display: flex;
  flex-direction: row;
}
.pfp-upload form > * {
  margin: 0 0 0.5rem 0;
}
.pfp-upload form > *:last-child {
  margin: 0 0 0 0;
}
.pfp-upload > img {
  margin-left: 0.5rem;
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  border-radius: 3px;
  background-color: #121212;
}

@media (max-width: 621px) {
  .pfp-upload {
    display: flex;
    flex-direction: column-reverse;
  }
  .pfp-upload > img {
    margin: 0 auto 1rem;
    width: 12rem;
    height: 12rem;
  }
}
.tabs {
  display: flex;
  flex-direction: row;
}
.tabs > button {
  margin-right: 0.5rem;
  width: 33.33%;
}
.tabs > button:last-child {
  margin-right: 0;
}

.active-tab {
  background-color: #8C977D !important;
  background-image: linear-gradient(to top, #7f8b6f, #8C977D) !important;
}

.logs {
  width: 100%;
  height: 0;
  padding: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 3px;
  transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.log {
  min-width: 850px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.log:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.log > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.log > *:nth-child(1) {
  width: 5%;
}
.log > *:nth-child(2) {
  width: 17%;
}
.log > *:nth-child(3) {
  width: 38%;
}
.log > *:nth-child(4) {
  width: 40%;
  margin: 0;
}

.log:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.bans {
  width: 100%;
  height: 0;
  padding: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 3px;
  transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.ban {
  min-width: 900px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ban:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.ban > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.ban > *:nth-child(1) {
  width: 5%;
}
.ban > *:nth-child(2) {
  width: 17%;
}
.ban > *:nth-child(3) {
  width: 34%;
}
.ban > *:nth-child(4) {
  width: 10%;
}
.ban > *:nth-child(5) {
  width: 34%;
  margin: 0;
}

.perm {
  border-left: #8C977D 0.2rem solid;
}

.ban:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.user-settings {
  width: 100%;
  height: 0;
  padding: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 3px;
  transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.user {
  min-width: 950px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user:nth-child(even) {
  background-color: rgba(232, 227, 227, 0.0666666667);
}
.user > * {
  margin: 0 0.5rem 0 0;
  padding: 0;
  word-wrap: break-word;
}
.user > *:nth-child(1) {
  width: 5%;
}
.user > *:nth-child(2) {
  width: 15%;
}
.user > *:nth-child(3) {
  width: 35%;
}
.user > *:nth-child(4) {
  width: 15%;
}
.user > *:nth-child(5) {
  width: 15%;
}
.user > *:nth-child(6) {
  width: 15%;
  margin: 0;
}

.is-admin {
  border-left: #8C977D 0.2rem solid;
}

.user:first-of-type {
  background-color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.btn-code {
  color: rgba(0, 0, 0, 0);
  position: relative;
}
.btn-code::after {
  content: "Hover to show code";
  color: #E8E3E3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-code:hover {
  color: #E8E3E3;
}
.btn-code:hover::after {
  content: "";
}

#sanityCheck {
  padding: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
#sanityCheck > * {
  margin: 0 0 0.5rem 0;
}
#sanityCheck > *:last-child {
  margin: 0;
}

/*
 |-------------------------------------------------------------
 | FOOTER
 |-------------------------------------------------------------
*/
footer {
  margin: 0 auto;
  width: auto;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}
footer p {
  margin: 0.2rem;
  padding: 0;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
footer a {
  margin: 0.2rem;
  padding: 0;
  text-decoration: none;
  font-family: "Secular One", sans-serif;
}
footer a:hover {
  color: #D8A657;
}

/*
 |-------------------------------------------------------------
 | BODY COMPONENTS
 |-------------------------------------------------------------
*/
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background-color: #151515;
  background-image: url("../assets/backgrounds/bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
body * {
  color: #E8E3E3;
}

/*
 |-------------------------------------------------------------
 | BUTTONS
 |-------------------------------------------------------------
*/
.btn {
  padding: 0.5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  transition: outline 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  outline: #E8E3E3 0.2rem solid;
  color: #E8E3E3;
  cursor: pointer;
}
.btn:where(input[type=file])::-webkit-file-upload-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: 3px;
}
.btn:where(input[type=file])::file-selector-button {
  margin: -0.25rem 0.5rem -0.25rem -0.25rem;
  padding: 0.5rem;
  display: inline-block;
  font-size: 16px;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  background-color: #E8E3E3;
  border: none;
  border-radius: 3px;
}
.btn:disabled {
  cursor: not-allowed;
  outline: none;
  z-index: 1;
  filter: brightness(0.5) grayscale(0.3);
}
.btn:disabled img {
  display: none;
}

a.btn {
  text-align: center;
}

.btn-bad {
  background-color: #B66467;
  background-image: linear-gradient(to top, #ae5356, #B66467);
}

.btn-warning {
  background-color: #D8A657;
  background-image: linear-gradient(to top, #d39b42, #D8A657);
}

.btn-good {
  background-color: #8C977D;
  background-image: linear-gradient(to top, #7f8b6f, #8C977D);
}

.btn-neutral {
  background-color: #121212;
  background-image: linear-gradient(to top, #111111, #121212);
}

/*
 |-------------------------------------------------------------
 | ALERTS
 |-------------------------------------------------------------
*/
.alert {
  padding: 0.75rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Secular One", sans-serif;
  text-decoration: none;
  border-left: 0.2rem solid #E8E3E3;
  background-color: #151515;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.alert-bad {
  border-color: #B66467;
  background-image: linear-gradient(120deg, rgba(182, 100, 103, 0.3), rgba(21, 21, 21, 0));
}

.alert-warning {
  border-color: #D8A657;
  background-image: linear-gradient(120deg, rgba(216, 166, 87, 0.3), rgba(21, 21, 21, 0));
}

.alert-good {
  border-color: #8C977D;
  background-image: linear-gradient(120deg, rgba(140, 151, 125, 0.3), rgba(21, 21, 21, 0));
}

.alert-box > * {
  margin: 0 0 0.5rem 0;
}
.alert-box > *:last-child {
  margin: 0;
}

/*
 |-------------------------------------------------------------
 | BADGES
 |-------------------------------------------------------------
*/
.badge {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.2em 0.4em;
  border: #121212 0.2rem solid;
  border-radius: 3px;
  color: #E8E3E3;
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Secular One", sans-serif;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
}
.badge.link {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.badge.badge-primary {
  background: rgba(140, 151, 125, 0.3);
  border: #8C977D 0.2rem solid;
}
.badge.badge-primary.link:hover {
  color: #8C977D;
}
.badge.badge-critical {
  background: rgba(182, 100, 103, 0.3);
  border: #B66467 0.2rem solid;
}
.badge.badge-critical.link:hover {
  color: #B66467;
}
.badge.badge-warning {
  background: rgba(216, 166, 87, 0.3);
  border: #D8A657 0.2rem solid;
}
.badge.badge-warning.link:hover {
  color: #D8A657;
}

/*
 |-------------------------------------------------------------
 | FORM SIZING
 |-------------------------------------------------------------
*/
form {
  width: 100%;
  box-sizing: content-box;
}
form > * {
  margin-bottom: 0.5rem;
}

textarea {
  resize: none;
}

/*
 |-------------------------------------------------------------
 | SVG
 |-------------------------------------------------------------
*/
.svg {
  margin: 0 0.2rem 0.1rem 0;
  width: 1.15rem;
  height: 1.1rem;
  vertical-align: middle;
  display: inline;
  border-radius: 3px;
}

.loading {
  -webkit-animation: spin 1.5s ease-in-out infinite;
          animation: spin 1.5s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 |-------------------------------------------------------------
 | BR / BREAK
 |-------------------------------------------------------------
*/
br {
  margin: 0;
  line-height: 0.25rem;
}

/*
 |-------------------------------------------------------------
 | Link text
 |-------------------------------------------------------------
*/
a.link {
  display: inline;
  text-decoration: underline;
}
a.link:hover {
  color: #8C977D;
}

/*
 |-------------------------------------------------------------
 | BACK TO TOP
 |-------------------------------------------------------------
*/
#back-to-top {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  z-index: 99;
  right: -2.5rem;
  bottom: 1rem;
  -o-object-position: center;
     object-position: center;
  background-color: rgba(21, 21, 21, 0.7333333333);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 3px;
  box-shadow: 6px 6px 2px rgba(21, 21, 21, 0.4);
  transition: right 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
#back-to-top:hover {
  outline: 0.2rem solid #8C977D;
}
#back-to-top * {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  -o-object-position: center;
     object-position: center;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}
.hr {
  margin: 0.5rem 0;
  border: none;
  border-top: 0.2rem solid #E8E3E3;
}

.hr-full {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.hr-bad {
  border-color: #B66467;
}

.hr-warning {
  border-color: #D8A657;
}

.hr-good {
  border-color: #8C977D;
}/*# sourceMappingURL=main.css.map */