@import "nav.css";
@import "footer.css";

@import "gallery.css";
@import "image.css";
@import "edit.css";
@import "upload.css";

:root {
  --bg: #151515df;
  --bg-1: #242621;
  --bg-2: #1D1E1C;

  --fg:#E8E3E3;
  --fg-dark: #151515;

  --red: #B66467;
  --orange: #FF7700;
  --green: #8C977D;
  --black: #151515;
  --white: #E8E3E3;

  --shadow: 6px 6px 10px #15151588;
  --rad: 5px;
}

* {
  font-weight: 521;
  color: var(--fg);
  font-family: "Fira Code", monospace;
}
html {
  margin: 0; padding: 0;

  min-height: 100vh; max-width: 100vw;

  background-color: var(--bg-2);
  background-image: url("../assets/bg2.svg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0 auto; padding: 1rem;

  min-height: calc(100vh - 2rem); max-width: 1500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  width: 100%;
  box-sizing: border-box;
}
form * {
  width: 100%;
  box-sizing: border-box;
}

/*
  -=-=-= UNIVERSAL =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.flex-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-down {
  display: flex;
  flex-direction: column;
}

.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.center {
  text-align: center;
}

.alert {
  margin: 0 auto; padding: 1rem;

  width: inherit;

  text-align: center;

  display: block;

  border-radius: var(--rad);

  outline: 0.5rem solid var(--bg);
}
.alert-high {
  background-color: var(--green);
}
.alert-low {
  background-color: var(--red);
}
.alert-default {
  background-color: var(--black);
}

.btn {
  margin: 0; padding: 0.5rem;

  display: block;

  font-size: 16px;
  align-items: center;

  border: none;
  border-radius: var(--rad);
}
.btn:hover {
  outline: var(--white) 3px solid;
}
a.btn {
  text-align: center;
  text-decoration: none;
}

.space-bottom {
  margin-bottom: 1rem;
}
.space-top {
  margin-top: 1rem;
}

/*
  -=-=-= TEXT SIZES =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
h1 {
  margin: 0 0 0.5rem 0;

  font-family: "Lexend Deca", sans-serif;
  font-size: 30px;
}
h2 {
  margin: 0 0 0.5rem 0;

  font-family: "Lexend Deca", sans-serif;
  font-size: 27px;
}
h3 {
  margin: 0 0 0.5rem 0;

  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
}
h4 {
  margin: 0 0 0.5rem 0;

  font-family: "Lexend Deca", sans-serif;
  font-size: 21px;
}
p, a {
  margin: 0 0 0.5rem 0;
  font-family: "Fira Code", monospace;
}
