/*
 |-------------------------------------------------------------
 | FOOTER
 |-------------------------------------------------------------
*/
footer {
    @include defaultDecoration($page-accent);
    @include flexLeft(space-around);

    margin: 0 auto;

    bottom: 0;

    width: calc(100% - 1.4rem);

    p {
        margin: 0 0.5rem;

        text-decoration: none;
        font-size: 16px;

        font-family: $font-body;
    }

    a {
        margin: 0 0.5rem;

        text-decoration: none;
        font-size: 16px;

        font-family: $font-body;

        &:hover {
            color: $orange;
        }
    }
}