/*
 |-------------------------------------------------------------
 | FOOTER
 |-------------------------------------------------------------
*/
footer {
    margin: 0 auto;

    width: auto;

    text-align: center;
    font-size: 12px;
    text-transform: uppercase;

    display: flex; flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    p {
        margin: 0;
        padding: 0;

        text-decoration: none;

        font-family: $font-body;
    }

    a {
        margin: 0;
        padding: 0;

        text-decoration: none;

        font-family: $font-body;

        &:hover {
            color: $orange;
        }
    }
}