@mixin defaultDecoration($border-colour) {
    background-color: $bg;
    color: $fg;

    border-radius: $rad;
    border: $border-colour $border-thickness solid;

    box-shadow: $shadow;
}

@mixin defaultSpacing() {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0 0.5rem;

    width: 100%;

    box-sizing: border-box;

    >* {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}

@mixin defaultFont() {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $font-header;
        text-rendering: optimizeLegibility;
    }

    p,
    a,
    button,
    input {
        font-family: $font-body;
        text-rendering: optimizeLegibility;
    }
}

@mixin flexDown($justify) {
    display: flex;

    flex-direction: column;

    justify-content: $justify;
}

@mixin flexLeft($justify) {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: $justify;
}