/*
 |-------------------------------------------------------------
 | NAVIGATION BAR
 |-------------------------------------------------------------
*/
nav {
    @include defaultDecoration($page-accent);
    @include flexLeft(space-between);

    margin: 0 auto 1rem;
    padding: 0.5rem;

    width: calc(100% - 1.4rem);
    height: auto;

    background-color: $bg-alt;
    backdrop-filter: blur(69px) saturate(100%) brightness(100%);

    position: sticky;
    z-index: 99;
    top: 1rem;

    align-items: center;
    vertical-align: middle;

    p {
        margin: 0;
        vertical-align: middle;
    }

    hr {
        margin: 0.5rem 0.2rem;
        padding: 0;
        opacity: 0;
    }

    .btn {
        width: auto;
    }
}

.nav-name {
    @include flexLeft(space-around);

    margin: 0;

    font-family: $font-header;

    font-size: 22px;

    display: block;
}

.nav-links {
    @include flexLeft(space-around);

    margin: 0;

    font-family: $font-body;

    width: auto;

    a.btn {
        padding: 0.2rem 0.5rem;
    }
}

.nav-mobile {
    display: none;
}

@media (max-width: 800px) {
    .nav-name {
        display: none;
    }

    .nav-links {
        width: 100%;
    }
}

@media (max-width: 550px) {
    nav {
        margin: 0;

        width: calc(100% - 1rem);
        height: 2.5rem;

        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;

        border: none;
        border-top: $border;
        border-radius: 0;

        backdrop-filter: blur(16px);

        .svg {
            margin: 0;

            display: block;
        }
    }

    .nav-links {
        a.btn {
            padding: 0.5rem;
        }
    }

    .nav-hide {
        display: none;
    }

    .info-text {
        text-align: left !important;
    }

    footer {
        margin-bottom: 4rem !important;
    }

    #back-to-top {
        bottom: 5rem !important;
    }
    .nav-mobile {
        display: block;
    }
}