$bg: #151515;
$bg-alt: #151515bb;

$fg: #E8E3E3;
$fg-alt: #151515;

$red: #B66467;
$orange: #FF7700;
$green: #8C977D;
$black: #151515;
$white: #E8E3E3;

$page-accent: #8C977D;

$shadow: 6px 6px 2px #15151588;
$rad: 0rem;

$weight-bold: 621;
$weight-normal: 400;

$font-header: 'Lexend Deca',
sans-serif;
$font-body: 'Secular One',
sans-serif;

// Fallback for items that do not yet support the new sass stylesheet system
:root {
  --bg: #{$bg-alt};
  --bg-1: #242621;
  --bg-2: #1D1E1C;
  --bg-3: #{$bg};

  --fg: #{$fg};
  --fg-dark: #{$fg-alt};

  --red: #{$red};
  --orange: #{$orange};
  --green: #{$green};
  --black: #{$black};
  --white: #{$white};

  --accent: #{$page-accent};
}